<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
              crossorigin="anonymous">
        <div th:replace="/fragments/head :: header"></div>

    </head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous">

</script>

<div class="splash-container">
    <div class="card ">

        <div class="card-header text-center">
            <img class="logo-img" th:src="@{/images/Cybertek_Logo.png}" height="45" alt="logo">
        </div>

        <div class="card-body">
            <form method="POST" th:action="@{/welcome}">

                <div class="form-group">
                    <input class="form-control form-control-lg" id="username" type="text" placeholder="Username"
                           autocomplete="off">
                </div>

                <div class="form-group">
                    <input class="form-control form-control-lg" id="password" type="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

            </form>
        </div>

    </div>
</div>

<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>
  